body{
  margin: 0px;
  background-color: #111;
}
.game__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  
}
.game__canvas { 
  box-sizing: border-box;
}
